<div class="project_slide"> 
    <section class="post-tiles popular-tiles ">
      <div class="wrap">
        <div class="grid">
            
          <h1>Other Projects</h1>

            <div class="post_set first active"></div>
                      
              <div class="post_tile_1 item">
                <a class="single-tile" href="motley.html">
                  <div><img class="tile-image_motley" src="{{site.baseurl}}/assets/img/motley_slide.jpg" alt="motley slide"></div>
                  <div class="description">
                    <h2 class="secondary">Editorial</h2>
                    <h1 class="title">Motley Photography Editorial Layout</h1>
                  </div>
                </a>
              </div>

              <div class="post_tile_2 item">
                <a class="single-tile" href="strength.html">
                  <div><img class="tile-image_strength" src="{{site.baseurl}}/assets/img/strength_slide.jpg" alt="strength slide"></div>
                  <div class="description">
                    <h2 class="secondary">Branding</h2>
                    <h1 class="title">Strength Athletics Branding</h1>
                  </div>
                </a>
              </div>

              <div class="post_tile_3 item">
                <a class="single-tile" href="cosmos.html">
                  <div><img class="tile-image_cosmos" src="{{site.baseurl}}/assets/img/cosmos_slide.jpg" alt="cosmos slide"></div>
                  <div class="description">
                    <h2 class="secondary">Web Design</h2>
                    <h1 class="title">Cosmos Graphic Design Website</h1>
                  </div>
                </a>
              </div>

              <div class="post_tile_4 item">
                <a class="single-tile" href="atelier.html">
                  <div><img class="tile-image_fashion" src="{{site.baseurl}}/assets/img/fashion_slide.jpg" alt="fashion slide"></div>
                  <div class="description">
                    <h2 class="secondary">Event Advertisement</h2>
                    <h1 class="title">Atelier Fashion Show 2019</h1>
                  </div>
                </a>
              </div>
        </div>
                      <!-- <div class="post_set">
                        <div class="post_tile_5 item">
                          <a class="single-tile" href="">
                            <div class="tile-image" style="background-image:url(https://goo.gl/WV0Pjy);"></div>
                            <div class="description">
                              <h2 class="secondary">Garden</h2>
                              <h1 class="title">Garden DIY: Mounting a Staghorn Fern</h1>
                            </div>
                          </a>
                        </div>
                        <div class="post_tile_6 item">
                          <a class="single-tile" href="">
                            <div class="tile-image" style="background-image:url(https://goo.gl/xzEk2C);"></div>
                            <div class="description">
                              <h2 class="secondary">Business</h2>
                              <h1 class="title">Reaching For What’s Next.</h1>
                            </div>
                          </a>
                        </div>
                        <div class="post_tile_7 item">
                          <a class="single-tile" href="">
                            <div class="tile-image" style="background-image:url(https://goo.gl/mA3nXv);"></div>
                            <div class="description">
                              <h2 class="secondary">Interior Inspiration</h2>
                              <h1 class="title">Guest Room Update</h1>
                            </div>
                          </a>
                        </div>
                        <div class="post_tile_8 item">
                          <a class="single-tile" href="">
                            <div class="tile-image" style="background-image:url(https://goo.gl/bMZ4ms);"></div>
                            <div class="description">
                              <h2 class="secondary">Celebrations</h2>
                              <h1 class="title">New Year. New Thoughts.</h1>
                            </div>
                          </a>
                        </div>-->
            
      </div>
            
                    <!-- </div>
                    <a class="prev-button">←</a>
                    <a class="next-button">→</a>
                    </div> -->
                
    </section>
  </div>