/* Slider to switch Project Pages */

.tile-image_motley {
    width: 100%;
    
  }
  
  .tile-image_strength {
    width: 100%;
  }
  
  .tile-image_cosmos {
    width: 100%;
  }
  
  .tile-image_fashion {
    width: 100%;
  }
  
  .project_slide {
    position: relative;
    width: 100%;
  }
  
  .grid {
    list-style: none;
    margin: 0;
    padding: 2vw 5vw 0 5vw;
    margin-left: -30px;
    text-align: center;
  }
  
  .item {
    display: inline-block;
    padding-left: 30px;
    vertical-align: top;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .grid--rev {
    direction: rtl;
    text-align: left
  }
  
  .grid--rev>.grid__item {
    direction: ltr;
    text-align: left
  }
  
  .grid--full {
    margin-left: 0
  }
  
  .grid--full>.grid__item {
    padding-left: 0
  }
  
  .grid--right {
    text-align: right
  }
  
  .grid--right>.grid__item {
    text-align: left
  }
  
  .grid--center {
    text-align: center
  }
  
  .grid--center>.grid__item {
    text-align: left
  }
  
  .grid--middle>.grid__item {
    vertical-align: middle
  }
  
  .grid--bottom>.grid__item {
    vertical-align: bottom
  }
  
  .grid--narrow {
    margin-left: -15px
  }
  
  .grid--narrow>.grid__item {
    padding-left: 15px
  }
  
  .grid--wide {
    margin-left: -60px
  }
  
  .grid--wide>.grid__item {
    padding-left: 60px
  }
  
  .item,
  .two-quarters,
  .three-sixths,
  .four-eighths,
  .five-tenths,
  .six-twelfths {
    width: 25%
  }
  
  .one-thirds,
  .two-sixths,
  .four-twelfths {
    width: 16.666%
  }
  
  .two-thirds,
  .four-sixths,
  .eight-twelfths {
    width: 33.333%
  }
  
  .one-quarter,
  .two-eighths,
  .three-twelfths {
    width: 12.5%
  }
  
  .three-quarters,
  .six-eighths,
  .nine-twelfths {
    width: 37.5%
  }
  
  .one-fifth,
  .two-tenths {
    width: 10%
  }
  
  .two-fifths,
  .four-tenths {
    width: 20%
  }
  
  .three-fifths,
  .six-tenths {
    width: 30%
  }
  
  .four-fifths,
  .eight-tenths {
    width: 40%
  }
  
  .one-sixth,
  .two-twelfths {
    width: 8.333%
  }
  
  .five-sixths,
  .ten-twelfths {
    width: 41.666%
  }
  
  .one-eighth {
    width: 6.25%
  }
  
  .three-eighths {
    width: 18.75%
  }
  
  .five-eighths {
    width: 31.25%
  }
  
  .seven-eighths {
    width: 43.75%
  }
  
  .one-tenth {
    width: 5%
  }
  
  .three-tenths {
    width: 15%
  }
  
  .seven-tenths {
    width: 45%
  }
  
  .nine-tenths {
    width: 45%
  }
  
  .one-twelfth {
    width: 4.166%
  }
  
  .five-twelfths {
    width: 20.833%
  }
  
  .seven-twelfths {
    width: 29.166%
  }
  
  .eleven-twelfths {
    width: 45.833%
  }
  
  .post-tiles,
  .shop-tiles {
    margin-bottom: 0px;
    clear: both;
    font-size: 0;
    padding-bottom: 5vw;
  }
  
  .post-tiles .wrap,
  .shop-tiles .wrap {
    position: relative
  }
  
  .post-tiles h1,
  .shop-tiles h1 {
    font-size: 3vw;
    text-align: center;
    padding-bottom: 26px
  }
  
  .post-tiles .filter-bar {
    padding-bottom: 32px
  }
  
  .post-tiles .filter-bar .category-filter {
    width: 30%;
    float: left;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
  }
  
  .post-tiles .filter-bar .category-filter .dk_toggle {
    font: normal 900 10px/40px 'Montserrat';
    text-transform: uppercase
  }
  
  .post-tiles .filter-bar .category-filter li a {
    font: normal 900 10px/40px 'Montserrat';
    letter-spacing: 2px;
    text-transform: uppercase
  }
  
  .post-tiles .filter-bar .sort-by{
    float: right;
    line-height: 40px
  }
  
  .post-tiles .filter-bar .sort-by span {
    margin: -2px 12px 0 0;
    display: inline-block;
    font: normal 900 1vh 'Montserrat';
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000
  }
  
  .post-tiles .filter-bar .sort-by a {
    height: 17px;
    margin-top: -2px;
    margin-left: 32px;
    display: inline-block;
    font: normal 1vw 'Montserrat';
    letter-spacing: 1px;
    color: #666
  }
  
  .post-tiles .filter-bar .sort-by a:hover,
  .post-tiles .filter-bar .sort-by a:focus,
  .post-tiles .filter-bar .sort-by a.current {
    border-bottom: 1px solid #666;
    text-decoration: none
  }
  
  .post-tiles .single-tile {
    width: 100%;
    margin: 0 auto 30px;
    display: block;
    background: #fff
  }
  
  .post-tiles .single-tile .tile-image {
    padding-top: 100%;
    background-color: #ebebeb;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
  }
  
  .post-tiles .single-tile .description {
    height: 60px;
    padding: 18px 22px 14px;
    text-align: center;
    color: black;
  }
  
  .post-tiles .single-tile .description .secondary {
    font: normal 1vw 'Montserrat';
    padding-bottom: 5px;
  }
  
  .post-tiles .single-tile .description .title {
    width: 100%;
    /* height: 30px; */
    font: normal 900 1.5vw 'Montserrat';
    padding-bottom: 0;
    overflow: hidden;
  }
  
  .post-tiles .single-tile.featured .tile-image {
    padding-top: 46.25%;
  }
  
  .post-tiles .single-tile.featured .description {
    height: 41px;
    padding: 27px 22px;
  }
  
  .post-tiles .single-tile.featured .description .secondary {
    font: 12px;
    padding-bottom: 5px;
  }
  
  .post-tiles .single-tile.featured .description .title {
    width: 100%;
    height: 30px;
    font: normal 900 1vw 'Montserrat';
    padding-bottom: 0;
    overflow: hidden;
  }
  
  .post-tiles .single-tile:hover,
  .post-tiles .single-tile:focus {
    text-decoration: none;
  }
  
  .post-tiles .single-tile:hover h1,
  .post-tiles .single-tile:hover h2,
  .post-tiles .single-tile:focus h1,
  .post-tiles .single-tile:focus h2 {
    color: rgb(157, 185, 147);
    -webkit-transition: .2s color ease-in-out;
    transition: .2s color ease-in-out
  }
  
  .post-tiles .load-more {
    margin-top: 20px;
    padding-left: 30px;
    display: block;
    text-align: center
  }
  
  .post-tiles .load-more a {
    padding: 0 8%;
    font-size: 1vw;
    letter-spacing: 3px;
  }
  
  .post-tiles .prev-button,
  .post-tiles .next-button {
    position: absolute;
    top: 45%;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    font-size: 0;
    cursor: pointer
  }
  
  .post-tiles .prev-button {
    left: 75px;
    border-right: 20px solid #000
  }
  
  .post-tiles .prev-button:hover,
  .post-tiles .prev-button:focus {
    border-right: 20px solid rgb(157, 185, 147);
  }
  
  .post-tiles .next-button {
    right: 75px;
    border-left: 20px solid #000
  }
  
  .post-tiles .next-button:hover,
  .post-tiles .next-button:focus {
    border-left: 20px solid rgb(157, 185, 147);
  }
  
  .post-tiles.popular-tiles {
    padding-top: 30px;
    background: #fff
  }





  /* Carousel */

  .carousel {
    width: 100%;
    height: 100%;
    position: relative;
    /* display: flex;
    max-width: 900px;
    max-height: 550px;   
    overflow: hidden; */
}

.carousel-item {
  visibility:visible;
    display: flex;
    width: 100%;
    height: 40vw;
    align-items: center;
    justify-content: flex-end;
      -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    position: relative;
    background-color: #fff;
    flex-shrink: 0;
   -webkit-flex-shrink: 0;
    position: absolute;
    z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
    display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  
  order: 1;
  left: 0;
  /* margin: auto; */
  padding: 0 3vw;
  width: 40%;
  background-color: white;
}

.carousel-item__image {
    width: 60%;
    height: 100%;
    order: 2;
    align-self: flex-end;
    flex-basis: 60%;
  
      -webkit-order: 2;
    -webkit-align-self: flex-end;
    -webkit-flex-basis: 60%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position:relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
  float: right;
}

.carousel-item__subtitle {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 3vw;
    color: #7E7E7E;    
    font-weight: 700;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in-out;
}

.carousel-item__title {
    margin: 15px 0 0 0;
    font-size: 55px;
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #2C2C2C;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel-item__description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #7e7e7e;
    line-height: 22px;
    margin-bottom: 35px;
}

.carousel-item--1 .carousel-item__image{
  background-image: url('../img/carousel_one.jpg');
}


.carousel-item--2 .carousel-item__image{
  background-image: url('../img/carousel_two.jpg');
}

.carousel-item--3 .carousel-item__image{
  background-image: url('../img/carousel_three.jpg');
}

.carousel-item--4 .carousel-item__image{
  background-image: url('../img/carousel_four.jpg');
}


/* .carousel-item__container{

} */

.carousel-item__btn {
    width: 35%;
    color: #2C2C2C;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    width: 35%;
    font-weight: 700;
  text-decoration: none;
      transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel__nav {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #fff;
  bottom: 0;
}

.carousel__icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
  fill: #5d5d5d;
}

.carousel__arrow {
    cursor: pointer;
    display: inline-block;
    padding: 11px 15px;
    position: relative;
}

.carousel__arrow:nth-child(1):after {
    content:'';
    right: -3px;
    position: absolute;
    width: 1px;
    background-color: #b0b0b0;
    height: 14px;
    top: 50%;
    margin-top: -7px;
}

.acteve{
   z-index: 1;
  display: flex;
  visibility:visible;
}

.acteve .carousel-item__subtitle, .acteve .carousel-item__title, .acteve .carousel-item__description,.acteve .carousel-item__btn{
    transform: translateY(0);
    opacity: 1;
  transition: 0.6s all ease-in-out;
    visibility: visible;
}

.acteve .carousel-item__image{ 
transition: 0.6s all ease-in-out;
transform: translateX(0);
}